# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
build/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
